{% extends "workspace/base.html" %}
{% load static %}
{% block extra %}
<link rel="stylesheet" href="{% static 'workspace/body.css' %}">
{% endblock extra %}

{% block content %}
<div class="container">
    <div class="filter">
        <button class='creat'><a href="{% url 'creat' %}">Create</a></button>
        <div id='position' class="position">
            {% for slide in sneakers %}
                <a href="{% url 'detail_news' id=slide.id %}">
                <div class="card-slide">
                    <img src="{{slide.photo.url}}" class="img-slide" alt="{{slide.name}}">
                    <div class="container-slider">
                        <h2>{{slide.name}}</h2>
                        <p><span>Артикул</span> {{slide.code}}</p>
                        <div class="price-slide flex gap-1">
                            <div class='w-20 h-6 bg-green-700 flex align-center justify-center text-white'>{{slide.price}} Р</div>
                            <div class='w-20 h-6 bg-blue-500 flex align-center justify-center text-white'><a href="{% url 'update' id=slide.id%}">Update</a></div>
                            <div class='w-20 h-6 bg-red-500 flex align-center justify-center text-white'><a href="{% url 'delete' id=slide.id%}">delete</a></div>
                        </div>
                    </div>
                </div> 
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock  %}