{% extends "base.html" %}

{% block acses %}
<div class="container">
    <div class="filter">
        {% include "components/filter.html" %}
        <div class="position">
            {% for slide in sneakers %}
                {% if slide.category.id == 3%}
                <div class="card-slide">
                    <img src="{{slide.photo.url}}" class="img-slide" alt="...">
                    <div class="container-slider">
                        <h2>{{slide.name}}</h2>
                        <p><span>Артикул</span> {{slide.code}}</p>
                        <div class="price-slide">
                            <h1>{{slide.price}} Р</h1>
                            <img src="..\static\img\slid.img\Shape (1).svg" alt="">
                        </div>
                    </div>
                </div> 
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock acses %}